/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

body {
  background: var(--Bg);
}

.container {
  width: min(430px, 100%);
  height: min(100vh, auto);

  background: url(../img/smartphone/Bg.webp) no-repeat fixed;
  /* background-size: cover; */

  padding: 39px 46px 0 46px;
}

header {
  font-family: oleo-bold, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Open Sans", "Helvetica Neue", sans-serif;

  & .temp {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    margin: -26% 12% 0 12%;
    text-align: center;

    font-size: 36px;
    color: #ff4400;
    -webkit-text-stroke: 2px black;
    font-weight: bold;
    line-height: 1.2;
  }
}

main {
  margin-top: 10%;

  & .img-reloj {
    opacity: 0.2;
  }

  & .section {
    margin-top: 10%;
    width: 100%;

    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 20px;

    & .img-twtt {
      grid-row: 1/4;
      grid-column: 1/5;
    }

    & .img2 {
      grid-row: 1/5;
      grid-column: 4/7;
    }
  }
}

/* Tipografía */
@font-face {
  font-family: "oleo";
  src: url("../font/oleoscript-regular-webfont.woff2") format("woff2"),
    url("../font/oleoscript-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "oleo-bold";
  src: url("../font/oleoscript-bold-webfont.woff2") format("woff2"),
    url("../font/oleoscript-bold-webfont.woff") format("woff");
}
/* ******************************** */

/* Colores */
:root {
  --Bg: #890355;
}
/* ******************************** */
