/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

body {
  height: 100vh;
  background: var(--Bg);
}

.container {
  width: min(430px, 100%);
  height: 100vh;

  background: url(../img/smartphone/Bg.webp) no-repeat;
  background-size: cover;

  padding: 39px 46px 0 46px;
}

header {

  & figure {
    
  }

  & .temp {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    margin: -20% 12% 0 12%;
    text-align: center;

    color: rgb(255, 102, 0);
    font-size: 20px;
  }
}

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */
:root {
  --Bg: #890355;
}
/* ******************************** */
